body {
  margin: 0;
}
.main{
    display: none;
}
.image-canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  background-color: white;
  border: none;
  color: black;
  padding: 18px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:focus, input:focus {
  outline: none;
}
.toolbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #00000080;
    color: white;
    height: 25px;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
}
.main{
    overflow: hidden;
    width: 300px;
    height: 200px;
}
.search{
    position: absolute;
    width: 100%;
    display: inline-flex;
    cursor: pointer;
}
.reload img,.minimize img,.download img,.markdown img{
  width: 15px;
  padding: 5px;
  cursor: pointer;
}
#keyword{
  margin: 10px auto;
  font-family: sans-serif;
  padding: 5px;
  border: none;
  font-size: 12px;
  color:#ffffff;
  opacity: 0;
  background: transparent;
  border: 2px solid white;
  font-weight: bold;
  transition: opacity 1s;
}

input#keyword:hover {
  opacity: 1;
}