@font-face {
  font-family: 'OpenSans';
  src: url('../assets/open-sans/OpenSans-Light.ttf');
}

body {
  margin: 0;
  overflow: hidden;
}

.image-original {
  height: 80%;
  margin: 0px auto;
  padding: 6px;
}

.image-canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s, filter 1s;
}

button {
  background-color: white;
  border: none;
  color: black;
  padding: 18px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: none;
}

.toolbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #00000080;
  color: white;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
}

.main {
  display: none;
  overflow: hidden;
  width: 300px;
  height: 200px;
  background: #161a1f;
}

.search {
  position: absolute;
  width: 100%;
  display: inline-flex;
  cursor: pointer;
  z-index: 10;
}

.reload img,
.minimize img,
.download img,
.markdown img {
  width: 15px;
  margin: 4px 5px;
  cursor: pointer;
}

.original p {
  margin: 0px;
  padding: 6px 0px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

#keyword {
  margin: 10px auto;
  font-family: sans-serif;
  padding: 5px;
  border: none;
  font-size: 12px;
  color: #ffffff;
  opacity: 0;
  background: transparent;
  border: 2px solid white;
  font-weight: bold;
  transition: opacity 1s;
}

.search:hover input#keyword {
  opacity: 1;
}

.search:hover ~ #drag{
  filter: blur(2px);
  opacity: 0.4;
}
.image-blur{
  filter: blur(2px);
  opacity: 0.4;
}
.loader,.message{
  margin: 70px auto;
  color: white;
  padding: 5px;
}
.message{
  height: 26px;
  display: none;
}
.message img{
  width: 25px;
}
.loader img{
  width: 20px;
  animation:spin 2s linear infinite;
}
.alert{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  transition: display 1s;
}
video{
  width: 100%;
  height: 100%;
  margin-top: -90px;
}
.logo{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.logo p{
  text-align: center;
  font-family: 'OpenSans', sans-serif;
  color: #3f3952;
  margin: 0;
  font-size: 45px;
  margin-bottom: 35px;
}
.logo p span{
  color: #e43e3e;
  font-size: 14px;
  margin-top: 8px;
  font-weight: 100;
  position: absolute;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  animation-delay: 4.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}