@font-face {
  font-family: 'OpenSans';
  src: url('../assets/open-sans/OpenSans-Light.ttf');
}

body {
  margin: 0;
  overflow: hidden;
}

.image-original {
  height: 80%;
  margin: 0px auto;
  padding: 6px;
}

.image-canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s, filter 1s;
}

button {
  background-color: white;
  border: none;
  color: black;
  padding: 18px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: none;
}

.toolbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #00000080;
  color: white;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
}

.main {
  display: none;
  overflow: hidden;
  width: 300px;
  height: 200px;
  background: #161a1f;
}

.search {
  position: absolute;
  width: 100%;
  display: inline-flex;
  cursor: pointer;
  z-index: 10;
}

.reload img,
.minimize img,
.download img,
.markdown img {
  width: 15px;
  margin: 4px 5px;
  cursor: pointer;
}

.original p {
  margin: 0px;
  padding: 6px 0px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

#keyword {
  margin: 10px auto;
  font-family: sans-serif;
  padding: 5px;
  border: none;
  font-size: 12px;
  color: #ffffff;
  opacity: 0;
  background: transparent;
  border: 2px solid white;
  font-weight: bold;
  transition: opacity 1s;
}

.search:hover input#keyword {
  opacity: 1;
}

.search:hover~#drag {
  filter: blur(2px);
  opacity: 0.4;
}

.image-blur {
  filter: blur(2px);
  opacity: 0.4;
}

.loader,
.message {
  margin: 70px auto;
  color: white;
  padding: 5px;
}

.message {
  height: 26px;
  display: none;
}

.message img {
  width: 25px;
}

.loader img {
  width: 20px;
  animation: spin 2s linear infinite;
}

.alert {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  transition: display 1s;
}

video {
  width: 100%;
  height: 100%;
  margin-top: -90px;
}

.logo {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.logo p {
  text-align: center;
  font-family: 'OpenSans', sans-serif;
  color: #3f3952;
  margin: 0;
  font-size: 45px;
  margin-bottom: 35px;
}

.logo p span {
  color: #e43e3e;
  font-size: 14px;
  margin-top: 8px;
  font-weight: 100;
  position: absolute;
}

.window,
.slide,
.join,
.thanks,
.settings {
  position: absolute;
}

.welcome {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

.how-to h1,
.thanks h1,
.join h1,
.join h2,
.join h3{
  font-family: 'OpenSans', sans-serif;
  margin: 0;
  font-weight: 100;
  text-align: center;
  padding-top: 15px;
}
#enter {
  display: none;
}
.join,
.how-to,
.thanks,
.settings {
  display: none;
  width: 100%;
}

.mail input {
  border: none;
  padding: 6px;
  width: 230px;
  font-size: 20px;
  color: #353434;
  font-weight: 300;
}

.mail {
  margin: 25px auto 9px auto;
  border: 1px solid #e3e3e3;
}

.mail button {
  background: #0ed085;
  padding: 11px;
  margin-left: -4px;
  color: white;
}

.how-to img {
  margin: -10px auto -15px auto;
  width: 70%;
}

.join h1 span {
  color: #d4584f;
}

.join h1 {
  font-size: 25px;
  margin-top:180px;
}
.join h2{
  font-size: 17px;
}
.join img{
  margin: 0 auto;
}

.help p {
  text-align: center;
  font-family: "OpenSans";
  margin: 0;
  font-size: 22px;
  display: none
}

.help .active {
  display: block;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.help button {
  font-family: "OpenSans";
  float: right;
  padding: 30px 26px;
}

.indicator {
  position: absolute;
  background: #F44336;
  width: 6px;
  height: 6px;
  border-radius: 12px;
  left: 0;
  margin-top: 238px;
  margin-left: 136px;
}

.logo {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  animation-delay: 4.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animation img{
  position: absolute;
  margin-bottom: 20px;
}
.animation .vamp{
  width: 60px;
  margin-top: 100px;
  animation: moveVamp 9s linear infinite;
}
.animation .castle{
  margin-left: 250px;
  width: 130px;
  margin-top: 30px;
}
.spam{
  text-align: center;
  font-family: "OpenSans";
  font-size: 11px;
}
.animation .bat{
  width: 70px;
  transform: rotateY(180deg);
  margin-left: 300px;
  margin-top: 40px;
  opacity: 0;
  animation: moveBat 9s linear infinite;
}
.cage{
  width: 160px;
  position: absolute;
}
.batc{
  position: absolute;
  width: 90px;
  margin: 40px 40px;
  z-index: 0
}
.thanks .animation{
  margin: 25px 160px;
}
.thanks .got-the{
  margin-top: 150px;
  font-size: 27px;
}
.thanks{
  animation: fadeOut 1s 2s linear forwards;
}
.save{
  float: right;
  background: #6ac76a;
  color: white;
  padding: 6px 16px;
  font-size: 14px;
  margin: 8px 20px;
}
.settings{
  grid-template-rows: 1fr 6fr 1fr;
  height: 100%;
}
.s-footer{
  border-top: 1px solid #e3e3e3;
}
.s-header{
  border-bottom: 1px solid #e3e3e3;
  font-family: "OpenSans";
  padding: 0px 20px;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes moveVamp {
  0% {
    margin-left:-40px;
    opacity: 1;
  }
  40%{
    opacity: 1;
  }
  66%{
    margin-left:300px;
    opacity: 0;
  }
  100% {
   opacity: 0;
  }
}

@keyframes moveBat {
  0% {
    margin-left: 300px;
    margin-top: 40px;
    opacity: 0;
  }

  66%{
    margin-left: 300px;
    margin-top: 40px;
    opacity: 0;
  }
  95%{
    opacity: 1;
  }
  100% {
    margin-left: 444px;
    margin-top: -15px;
    opacity: 0;
  }
}