body {
  margin: 0;
  overflow: hidden;
}

.image-original {
  height: 80%;
  margin: 0px auto;
  padding: 6px;
}

.image-canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s, filter 1s;
}

button {
  background-color: white;
  border: none;
  color: black;
  padding: 18px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: none;
}

.toolbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #00000080;
  color: white;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
}

.main {
  display: none;
  overflow: hidden;
  width: 300px;
  height: 200px;
  background: #161a1f;
}

.search {
  position: absolute;
  width: 100%;
  display: inline-flex;
  cursor: pointer;
  z-index: 10;
}

.reload img,
.minimize img,
.download img,
.markdown img {
  width: 15px;
  margin: 4px 5px;
  cursor: pointer;
}

.original p {
  margin: 0px;
  padding: 6px 0px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

#keyword {
  margin: 10px auto;
  font-family: sans-serif;
  padding: 5px;
  border: none;
  font-size: 12px;
  color: #ffffff;
  opacity: 0;
  background: transparent;
  border: 2px solid white;
  font-weight: bold;
  transition: opacity 1s;
}

.search:hover input#keyword {
  opacity: 1;
}

.search:hover ~ #drag{
  filter: blur(2px);
  opacity: 0.4;
}
.image-blur{
  filter: blur(2px);
  opacity: 0.4;
}
.loader{
  margin: 70px auto;
  color: white;
  padding: 5px;
}
.alert img{
  width: 20px;
  animation:spin 2s linear infinite;
}
.alert{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  transition: display 1s;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }